body{
    background: #3399ff;
    overflow-y: hidden;
}
h1{
    color: #3399ff;
    background: white;
    font-weight: bold;
    padding: 10px;
}
#show_sketch{
    float: right;
}
#label, #confidence{
    color: white;
    font-size: 30px;
}
#timer{
    float: right;
}
#score{
    float: left;
}
span{
    font-size: 30px;
    color: white;
    padding: 5px;
}

#sketchToDraw{
    font-size: 40px;
    color: #3399ff;
    background: white;
    max-width: 50%;
    border-radius: 10px;
}

canvas{
    border: 5px solid white;
    animation: example 5s infinite;
    border-radius: 10px;
    margin-top: 200px;
}

@keyframes example{
    from{
        box-shadow: 1em 1em 42px red, -1em -1em 42px lightgreen;
    }
    to{
        box-shadow: 1em 1em 42px lightgreen, -1em -1em 42px red;
    }
}
